agent-framework
agent-framework-openai
python-dotenv
pydantic
pydantic-settings
agent-framework-devui --pre
agent-framework-declarative 
agent-framework-foundry --pre
jinja2
azure-monitor-opentelemetry
tzdata